body {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1d21+0,212733+20,232a34+39,232a34+62,212733+77,212733+77,1c1d21+100 */
background: #1c1d21; /* Old browsers */
background: -moz-linear-gradient(left, #1c1d21 0%, #212733 20%, #232a34 39%, #232a34 62%, #212733 77%, #212733 77%, #1c1d21 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1c1d21 0%,#212733 20%,#232a34 39%,#232a34 62%,#212733 77%,#212733 77%,#1c1d21 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1c1d21 0%,#212733 20%,#232a34 39%,#232a34 62%,#212733 77%,#212733 77%,#1c1d21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1d21', endColorstr='#1c1d21',GradientType=1 ); /* IE6-9 */
}

.font{
    color: #03d999;
}
