@import '/Users/test/test/src/styles/_hamburgerButton.scss';
@import './variables.scss';


.Home{
    background: white;
}

.github,
.linkedin,
.envelope {
    color: black;
}

.toggle-nav{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
}

.account {
    display: flex;
    align-items: center;
}

.account-div {
    padding-left: 7%;
    color: $black;
    h1{
        font-family: "charm"
    }
    &:hover{
        color: #46e0b4;
        cursor: pointer; 
        transform: scale(1.02);
    }
}

.projects{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row;
    top: -19%;
    left: 35%;
    color: $black;
    h3{
        padding-right: 27px;
        color: $black;
    }

    .line{
        background: #000;
        width: 223px;
        height: 1px;
        align-self: center;
        opacity: 1;
    }
}

#projects {
    animation-delay: 3s;
}

#account{
    animation-delay: 2.5s;
}



.project-h:hover{
    color: #46e0b4;
    cursor: pointer;
    transform: scale(1.02);
}

.tog-inactive {
    color: #46e0b4;
    padding-left: 40px;
    list-style-type: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 4%;
    position: absolute;
    top: 63px;
    right: 20px;
    visibility: hidden;
}

.tog-active {
    color: #46e0b4;
    padding-left: 40px;
    list-style-type: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 4%;
    position: absolute;
    top: 63px;
    right: 20px;
    visibility: visible;
}

.lis{
    color: #46e0b4;
}


.lis:hover{
    color: $black;
    border-bottom: solid 1px #E3545f;
}

.tog-active-li {
    color: $black;
    border-bottom: solid 1px #E3545f;
}

li{
    padding-top: 2rem;
}

.main-nav{
    padding-top: 11px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    padding-top: 24px;
}




.title-return {
    font-size: 72px;
    font-family: "charm";
    line-height: 1;
    color: #EBD6A3;
    z-index: 100;
    top: 12%;
    left: 65%;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: transform .4s ease-out;
}


.activeTitle{
    font-size: 72px;
    font-family: "charm";
    line-height: 1;
    color: #EBD6A3;
    z-index: 100;
    top: 12%;
    left: 65%;
    position: absolute;
    transform: translate3d(2000px, 0, 0);
    transition: transform .4s ease-out;
    opacity: 0;
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}




.last-name {
    padding-left: 47px;
}

.mid{
    color: #E3545f;
}

.ic{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    top: 80%;
    padding: 5px 5px;
}

.ic i {
    margin: 12px;
}



li { 
    cursor: pointer;
}

.github:hover,
.linkedin:hover,
.envelope:hover {
    transform: scale(1.2);
   cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: $black;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.about{
    animation-delay: .17s;
}

.projects-li {
    animation-delay: .23s;
}

.testimonials-li{
    animation-delay: .29s;
}

.contact-li {
    animation-delay: .35s;
}

.resume-li {
    animation-delay: .41s;
}


.about-paragraph {
    position: absolute;
    top: 9%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    transform: translate3d(169px,0, 0);
    width: 0%;
    visibility: hidden;
    height: 82%;
}

.about-active-p{
    position: absolute;
    top: 9%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    transform: translate3d(169px,0, 0);
    width: 100%;
    height: 82%;
    transition: width 1s linear .2s;
    overflow: hidden;
    z-index: -5;
}

.about-text {
    font-size: 1.2rem;
}



#arrow-right{
    padding-left: 90px;
}


i #arrow-left .arrow .left:hover,
i #arrow-right .arrow .right:hover {
    transform: scale(1.2);
}

.arr{
    display: flex;
    position: fixed;
    left: 20px;
    top: 90%;
    padding: 5px 5px;
    i .arrow-left{
        transform: scale(1.2);
    }
    i .arrow-rigth{
        transform: scale(1.2);
    }
}



.connect {
    padding: 10px 30px;
    position: fixed;
    left: -20px;
    top: 266px;
    transform: rotate(-90deg);
    color: black;
    font-family: sans-serif;
    h2{
        font-family: sans-serif;
        &:hover{
            color: #46e0b4;
            cursor: pointer;
            transform: scale(1.02);
        }
    }
}
