.main-container{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    width: 73vw;
}

.container-one{
    
}

.container-two{

}

.container-three{

}

.container-four{

}

.container-five {

}

img {
    width: 300px;
    height: 250px;
    padding: 10px;
}